<section class="cards__container">
    <div class="cards__card">
        <div class="card__image">
            <img src="../../images/1.jpg" alt="Card Image">
        </div>
        <section class="card__content">
            <div class="card__info">
                <h2 class="card__info--title">Título</h2>
                <p class="card__info--text">Lemon ipsum dolor sit amet, zestus orbitatis limonum, consectetur pulpantium galacticae. Zingiber est limonator tempor fermentis, squeeze et peelus magna aliqua. Ut enim ad citronum veniam, quis nostrud exercitation aciditatis laboris nisi ut aliquip ex pulpa astronoma.</p>
                <span class="card__info--published-date">
                    Published on: <time class="card__info--published-datetime" datetime="2024-10-01">October 1, 2024</time>
                </span>
            </div>
            <button class="card__info--view-more-button">Ver más</button>
        </section>
    </div>

    <div class="cards__card">
        <div class="card__image">
            <img src="../../images/2.jpg" alt="Card Image">
        </div>
        <section class="card__content">
            <div class="card__info">
                <h2 class="card__info--title">Título</h2>
                <p class="card__info--text">Lemon ipsum dolor sit amet, zestus orbitatis limonum, consectetur pulpantium galacticae. Zingiber est limonator tempor fermentis, squeeze et peelus magna aliqua. Ut enim ad citronum veniam, quis nostrud exercitation aciditatis laboris nisi ut aliquip ex pulpa astronoma.</p>
                <span class="card__info--published-date">
                    Published on: <time class="card__info--published-datetime" datetime="2024-09-18">September 18, 2024</time>
                </span>
            </div>
            <button class="card__info--view-more-button">Ver más</button>
        </section>
    </div>

    <div class="cards__card">
        <div class="card__image">
            <img src="../../images/3.jpg" alt="Card Image">
        </div>
        <section class="card__content">
            <div class="card__info">
                <h2 class="card__info--title">Título</h2>
                <p class="card__info--text">Lemon ipsum dolor sit amet, zestus orbitatis limonum, consectetur pulpantium galacticae. Zingiber est limonator tempor fermentis, squeeze et peelus magna aliqua. Ut enim ad citronum veniam, quis nostrud exercitation aciditatis laboris nisi ut aliquip ex pulpa astronoma.</p>
                <span class="card__info--published-date">
                    Published on: <time class="card__info--published-datetime" datetime="2024-12-09">September 12, 2024</time>
                </span>
            </div>
            <button class="card__info--view-more-button">Ver más</button>
        </section>
    </div>

    <div class="cards__card">
        <div class="card__image">
            <img src="../../images/4.jpg" alt="Card Image">
        </div>
        <section class="card__content">
            <div class="card__info">
                <h2 class="card__info--title">Título</h2>
                <p class="card__info--text">Lemon ipsum dolor sit amet, zestus orbitatis limonum, consectetur pulpantium galacticae. Zingiber est limonator tempor fermentis, squeeze et peelus magna aliqua. Ut enim ad citronum veniam, quis nostrud exercitation aciditatis laboris nisi ut aliquip ex pulpa astronoma.</p>
                <span class="card__info--published-date">
                    Published on: <time class="card__info--published-datetime" datetime="2024-07-23">July 23, 2024</time>
                </span>
            </div>
            <button class="card__info--view-more-button">Ver más</button>
        </section>
    </div>

    <div class="cards__card">
        <div class="card__image">
            <img src="../../images/5.jpg" alt="Card Image">
        </div>
        <section class="card__content">
            <div class="card__info">
                <h2 class="card__info--title">Título</h2>
                <p class="card__info--text">Lemon ipsum dolor sit amet, zestus orbitatis limonum, consectetur pulpantium galacticae. Zingiber est limonator tempor fermentis, squeeze et peelus magna aliqua. Ut enim ad citronum veniam, quis nostrud exercitation aciditatis laboris nisi ut aliquip ex pulpa astronoma.</p>
                <span class="card__info--published-date">
                    Published on: <time class="card__info--published-datetime" datetime="2024-05-12">May 12, 2024</time>
                </span>
            </div>
            <button class="card__info--view-more-button">Ver más</button>
        </section>
    </div>

    <div class="cards__card">
        <div class="card__image">
            <img src="../../images/6.jpg" alt="Card Image">
        </div>
        <section class="card__content">
            <div class="card__info">
                <h2 class="card__info--title">Título</h2>
                <p class="card__info--text">Lemon ipsum dolor sit amet, zestus orbitatis limonum, consectetur pulpantium galacticae. Zingiber est limonator tempor fermentis, squeeze et peelus magna aliqua. Ut enim ad citronum veniam, quis nostrud exercitation aciditatis laboris nisi ut aliquip ex pulpa astronoma.</p>
                <span class="card__info--published-date">
                    Published on: <time class="card__info--published-datetime" datetime="2024-05-02">May 2, 2024</time>
                </span>
            </div>
            <button class="card__info--view-more-button">Ver más</button>
        </section>
    </div>

    <div class="cards__card">
        <div class="card__image">
            <img src="../../images/7.jpg" alt="Card Image">
        </div>
        <section class="card__content">
            <div class="card__info">
                <h2 class="card__info--title">Título</h2>
                <p class="card__info--text">Lemon ipsum dolor sit amet, zestus orbitatis limonum, consectetur pulpantium galacticae. Zingiber est limonator tempor fermentis, squeeze et peelus magna aliqua. Ut enim ad citronum veniam, quis nostrud exercitation aciditatis laboris nisi ut aliquip ex pulpa astronoma.</p>
                <span class="card__info--published-date">
                    Published on: <time class="card__info--published-datetime" datetime="2024-12-12">December 12, 2024</time>
                </span>
            </div>
            <button class="card__info--view-more-button">Ver más</button>
        </section>
    </div>

    <div class="cards__card">
        <div class="card__image">
            <img src="../../images/8.jpg" alt="Card Image">
        </div>
        <section class="card__content">
            <div class="card__info">
                <h2 class="card__info--title">Título</h2>
                <p class="card__info--text">Lemon ipsum dolor sit amet, zestus orbitatis limonum, consectetur pulpantium galacticae. Zingiber est limonator tempor fermentis, squeeze et peelus magna aliqua. Ut enim ad citronum veniam, quis nostrud exercitation aciditatis laboris nisi ut aliquip ex pulpa astronoma.</p>
                <span class="card__info--published-date">
                    Published on: <time class="card__info--published-datetime" datetime="2024-12-12">December 12, 2024</time>
                </span>
            </div>
            <button class="card__info--view-more-button">Ver más</button>
        </section>
    </div>
</section>