@use './commons/styles/breakpoints' as *;
@use './commons/styles/colors' as *;
@use './commons/styles/icons' as *;
@use './commons/styles/reset' as *;

@use './components/index';

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    color: var(--primary-font-color);
    transition: all 0.3s ease;
    font-family: var(--primary-font);

    &::before {
        content: '';
        position: fixed;
        inset: 0;
        z-index: -1;
        background: var(--background-gradient);
        transition: background 0.3s ease;
    }

    .container {
        margin: 100px 12px;

        @include tablet {
            margin: 110px 40px;
        }

        @include small-desktop {
            margin: 76px 60px;
            margin-top: 160px;
        }

        @include desktop {
            max-width: 1280px;
            margin: 0 auto;
            margin-top: 160px;
        }
    }

    a {
        color: var(--primary-font-color);
    }
}

.section {
  display: none;
}

:target {
  display: block;
}

html:not(:has(:target)) #cards {
  display: block;
}


.hidden { display: none; }